* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif; }

body {
  background-color: #21252b;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility; }

.wrapper {
  width: 100%; }

#refresh {
  margin-top: 20%;
  display: none;
  color: #75c993; }

a {
  color: #fff;
  padding: 10px; }

.info {
  width: 100%;
  height: 200px;
  display: inline-block;
  background: #282c34;
  margin-bottom: -60px; }

.inputs {
  text-align: center;
  margin: auto;
  position: relative;
  width: 600px;
  height: 115px;
  display: block; }
  .inputs #input {
    background: url("../images/input-background.png") no-repeat;
    background-size: contain;
    padding-left: 60px;
    padding-top: 4px;
    font-size: 22px;
    width: 100%;
    height: 100%;
    appearance: none;
    color: #fff; }
  .inputs #go {
    position: absolute;
    top: 30px;
    right: 38px;
    width: 96px;
    color: #333;
    padding-top: 16px;
    height: 52px;
    display: block;
    background: url("../images/button-background.png") no-repeat;
    background-size: cover;
    background-position: right; }
    .inputs #go:hover {
      background: url("../images/button-background-hover.png") no-repeat;
      background-size: cover; }

#description {
  padding: 6%;
  margin-top: 12%;
  color: #a2b2bf;
  line-height: 20px;
  border: 1px dashed rgba(1, 1, 1, 0.5);
  border-radius: 5px;
  background: rgba(1, 1, 1, 0.05);
  text-align: left; }

.result h3 {
  margin-top: 50px;
  color: #fff; }
.result p {
  color: #a2b2bf;
  margin: 10px 0 40px; }

ul {
  opacity: 0;
  height: 0;
  padding-top: 160px;
  margin: auto;
  vertical-align: bottom;
  display: flex;
  align-items: center;
  justify-content: center; }
  ul li {
    background: #a2b2bf;
    max-height: 300px;
    border-top: 1px solid #fff;
    background-position: center;
    background-size: cover;
    margin-left: 4px;
    margin-top: 20px;
    width: 8px;
    border-radius: 100px; }

.social {
  margin-top: 50px; }
  .social .fa-twitter {
    color: #326ada; }
  .social .fa-globe {
    color: #a2b2bf; }

@media (max-width: 641px) {
  .inputs {
    width: 300px;
    height: 57px; }
    .inputs #input {
      padding-left: 25px;
      padding-top: 2px;
      font-size: 11px; }
    .inputs #go {
      top: 15px;
      right: 20px;
      width: 48px;
      padding-top: 8px;
      height: 26px; }

  #description {
    line-height: 16px;
    font-size: 11px; }

  .info {
    margin-bottom: -32px; } }
